[Unit]
Description=Clean /tmp of huge ImageMagick temporary files

[Timer]
OnCalendar=*-*-* 00/1:00
Persistent=true

[Install]
WantedBy=multi-user.target
