[Unit]
Description=Copy the hosts file from a main source, overwriting eventual modifications of it
After=local-fs.target time-set.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cp /mnt/documents/d/Stuff/hosts /etc/hosts
Restart=on-failure
